<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a note</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <h1 class="display-4 text-center">Edit the note</h1>
    <h2 class="display-6 text-end mx-5">
        <%= date %>
    </h2>
    <form action="/note-edited" method="post" class="form">
        <input type="text" name="new-book-title" id="book-title" placeholder="Title of the book" class="m-4" value="<%= note.book_name %>">
        <textarea name="new-book-note" id="book-note" cols="60" rows="10" placeholder="Note about the book" class="m-4"><%= note.book_note %></textarea>
        <input type="hidden" name="new-date" value="<%= date %>">
        <input type="hidden" name="noteId" value="<%= id %>">
        <button class="btn btn-primary m-3" type="submit" class="m-4">Submit</button>
    </form>
</body>
</html>